:root {
  /* COLOR */
  /* PRIMARY */
  --clr-red: 0 78% 62%;
  --clr-cyan: 180 62% 55%;
  --clr-orange: 34 97% 64%;
  --clr-blue: 212 86% 64%;
  /* NEUTRAL */
  --clr-primary: 234 12% 34%;
  --clr-secondary: 229 6% 66%;
  --clr-bg: 0 0% 98%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;

  /* FONT FAMILY */
  --ff-poppins: "Poppins", sans-serif;

  /* FONT WEIGHT */
  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-regular);
  padding: 2rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-primary));
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* HEADER */

header {
  max-width: 31.25rem;
  text-align: center;
  margin: 3.3125rem auto 4.875rem;
}

.main-heading {
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
}

.main-heading span {
  display: block;
  font-weight: var(--fw-extra-light);
}

.description {
  color: hsl(var(--clr-secondary));
  font-size: 0.9375rem;
  line-height: 1.65;
  margin-top: 1em;
}

/* FEATURE CARD */

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5625rem;
  place-items: center;
}

.feature-card {
  --_clr-highlight: var(--clr-highlight, var(--clr-secondary));

  max-width: 21.875rem;
  background: hsl(var(--clr-white));
  border-radius: 0.5rem;
  padding: 1.625rem 1.75rem 1.75rem;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.feature-card::before {
  content: "";
  width: 100%;
  height: 0.25rem;
  position: absolute;
  left: 0;
  top: 0;
  background: hsl(var(--_clr-highlight));
}

.highlight-cyan {
  --clr-highlight: var(--clr-cyan);
}

.highlight-red {
  --clr-highlight: var(--clr-red);
}

.highlight-orange {
  --clr-highlight: var(--clr-orange);
}

.highlight-blue {
  --clr-highlight: var(--clr-blue);
}

.feature-card__title {
  font-weight: var(--fw-semi-bold);
  font-size: 1.25rem;
}

.feature-card__description {
  font-size: 0.8125rem;
  line-height: 1.8;
  color: hsl(var(--clr-secondary));
  margin-block: 0.188rem 2rem;
}

.feature-card .img-wrapper {
  margin-left: auto;
  max-width: 3.5625rem;
}

@media (min-width: 48rem) {
  header {
    margin-block: 2.875rem 4.1875rem;
  }

  .main-heading {
    font-size: 2.25rem;
  }

  .feature-card {
    padding: 2rem;
  }

  .feature-card .img-wrapper {
    max-width: 4rem;
  }

  .feature-card__description {
    margin-block: 0.5rem 2.4375rem;
  }
}
